In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("ASIANPAINT.csv")

In [13]:
def getExpectedReturn(df,price_col_name,annualised=True, annualise_method='sophisticated'):
    """
    Returns the expected return of a stock given price data
    """
    #Calculate returns of prices
    returns=df[price_col_name].pct_change(1)
    
    #calculate expected return using the mean method
    expected_return = returns.mean()
    
    
    if annualised:
        if annualise_method =='sophisticated':
            expected_return_annual=((1+expected_return)**250)-1
        else:
            #crude method
            expected_return_annual=expected_return *250
            
        return expected_return_annual
    
    else:
        return expected_return

In [4]:
data.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ASIANPAINT,EQ,361.20,370.0,390.0,370.0,385.0,381.65,380.54,3318,1.262617e+11,NaN,NaN,NaN
1,2000-01-04,ASIANPAINT,EQ,381.65,380.0,392.0,375.0,390.0,385.55,383.50,4818,1.847699e+11,NaN,NaN,NaN
2,2000-01-05,ASIANPAINT,EQ,385.55,371.5,390.0,371.5,383.0,383.00,379.81,2628,9.981384e+10,NaN,NaN,NaN
3,2000-01-06,ASIANPAINT,EQ,383.00,384.9,384.9,374.5,375.1,377.50,379.88,3354,1.274114e+11,NaN,NaN,NaN
4,2000-01-07,ASIANPAINT,EQ,377.50,376.0,390.0,370.0,389.0,385.70,383.38,9589,3.676275e+11,NaN,NaN,NaN

In [14]:
getExpectedReturn(data,'Prev Close')

0.22763255502024826

In [16]:
#Daily expected return
getExpectedReturn(data,'Close',annualised=False)

0.0008044570589420416

In [17]:
getExpectedReturn(data,'Close',annualise_method='othermethod')

0.20111426473551042